<!doctype html>
<html>
  <head>
    <title>Github Web Directory: Python</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
      h1 {text-align: center;}
      footer {text-align: center;}
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Github Web Directory: Python</h1>
      <hr>
      <div id="table"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>

      const mygrid = new gridjs.Grid({
        columns: [
          { id: 'repository_id', name: 'Repository ID', sort: false },
          { id: 'name', name: 'Repository Name', sort: false ,width: '15%' },
          { id: 'url', name: 'Repository url', sort: false, width: '15%' },
          { id: 'created_date', name: 'Date created', sort: false },
          { id: 'last_push', name: 'Last push', sort: false },
          { id: 'description', name: 'Description', sort: false, width: '10%' },
          { id: 'star_num', name: 'Stars', sort: true },
        ],
        data: [
          {% for repo in Repos_list %}
            {
              repository_id: {{ repo.repository_id }},
              name: '{{ repo.name }}',
              url: '{{ repo.url }}',
              created_date: '{{ repo.created_date }}',
              last_push: '{{ repo.last_push }}',
              description: '{{ repo.description }}',
              star_num: {{ repo.star_num }}
            },
          {% endfor %}
        ],
        search: {
          selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
        },
        sort: true,
        pagination: true,
      }).render(document.getElementById('table'));
    </script>
  <footer>A fun project created by Nyenty Ayuk-Enow</footer>
  </body>
</html>