<!doctype html>
<html>
  <head>
    <title>Github Web Directory: Python</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <style>
      h1 {text-align: center;}
      footer {text-align: center;}
      body {
        font-family: Sans-Serif;
      }
    </style>
  </head>
  <body>
    <div>
      <h1>Github Web Directory: Python</h1>
      <hr>
      <div id="table"></div>
    </div>
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script>

      const mygrid = new gridjs.Grid({
        columns: [
          { id: 'repository_id', name: 'Repository ID' },
          { id: 'name', name: 'Repository name' },
          { id: 'url', name: 'Repository url', sort: false },
          { id: 'created_date', name: 'Date created' },
          { id: 'last_push', name: 'Last push' },
          { id: 'description', name: 'Description', sort: false },
          { id: 'star_num', name: 'Stars' },
        ],
        data: [
          {% for Repos in repo %}
            {
              repository_id: {{ Repos.repository_id }},
              name: '{{ Repos.name }}',
              url: '{{ Repos.url }}',
              created_date: '{{ Repos.created_date }}',
              last_push: '{{ Repos.last_push }}',
              description: '{{ Repos.description }}',
              star_num: {{ Repos.star_num }}
            },
          {% endfor %}
        ],
        search: {
          selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
        },
        sort: true,
        pagination: true,
      }).render(document.getElementById('table'));
      mygrid.updateConfig({
        data: [
          {% for Repos in repo %}
            {
              repository_id: {{ Repos.repository_id }},
              name: '{{ Repos.name }}',
              url: '{{ Repos.url }}',
              created_date: '{{ Repos.created_date }}',
              last_push: '{{ Repos.last_push }}',
              description: '{{ Repos.description }}',
              star_num: {{ Repos.star_num }}
            },
          {% endfor %}
        ],
      }).forceRender();
    </script>
  <footer>A fun project created by Nyenty Ayuk-Enow</footer>
  </body>
</html>